# Terraform working directory
.terraform/

# Terraform state
*.tfstate
*.tfstate.*

# Terraform plan files
*.tfplan

# Crash logs
crash.log

# Sensitive variable files
*.auto.tfvars

# macOS
.DS_Store